.jumbotron {
  background-color: rgb(143, 143, 125);
  color: rgb(31, 28, 28);
}
.footer {
  margin-top: 6px;
  margin-bottom: 0px;
  color: black;
}
.card-producto {
  padding: 2px 4px 0px 4px;
  }
  .producto {
   font-weight: bold; 
  }

  .descripcion {
    font-family: 'Times New Roman', Times, serif;
  }
  .precio {
    font-weight: bold;
    font-style: italic;
  }
  .btn-comprar {
    font-weight: bold;
  }